<p>
  Add pizza
</p>
<div>
  Name:<input type="text" required [(ngModel)]="pizza.name"><br>
  Description:<input type="text" required [(ngModel)]="pizza.description"><br>
  Price:<input type="number" step="0.01" required [(ngModel)]="pizza.price"><br>
  <label>Cusine:</label>
  <select required [(ngModel)]="pizza.cusine" >
    <option *ngFor="let c of cusines" [value]="c" >{{c}}</option>
  </select><br>
  <button type="submit" (click)="save()">Save</button>
</div>
