<div *ngIf="selectedPizza">
  <h2>
    {{selectedPizza.name | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<ul>
  <li *ngFor="let p of pizzas"
      (click)="onSelect(p)"
  >{{p.name}}</li>
</ul>
<button (click)="back()">Back</button>
<button (click)="next()">Next</button>
