<div>
  <ol>
    <li *ngFor="let p of pizzas">
      {{p.name}}
      {{p.description}}
      {{p.cusine}}
      {{p.price}}
    </li>
  </ol>
</div>
<div>
  <div>
    <label>Less than:</label>
    <input type="checkbox" [(ngModel)]="lessThan">
    <input *ngIf="lessThan" type="number" step="0.01" [(ngModel)]="price">
  </div>
  <div>
    <label>Cusine:</label>
    <input type="checkbox" [(ngModel)]="isCusine">
    <div *ngIf="isCusine">
      <select  [(ngModel)]="cusine">
        <option *ngFor="let c of cusines" [value]="c">{{c}}</option>
      </select>
    </div>
  </div>
  <div>
    <button type="submit" (click)="filter()">Filter</button>
  </div>
</div>
